{% extends "base.html" %}
{% block title%} Accueil {% endblock %}
{% block bodyId %}welcomePage{% endblock %}
 
{% block headerContent %}
    <p id="name">{{firstname}} {{lastname}} </p>
    <p id="function">
        Numéro de téléphone: {{phone_number}}
        membre depuis: {{register_date}}
    </p>
    <p id="profileLinks">
        <a href="???" class="buttonLink"> Voir le profil </a>
        <a href="???" class="buttonLink"> Modifier le profil </a>
    </p>
{% endblock %}

{% block content %}
    <section id="messageList">
        test 
    </section>

    <section id="friendList">
        test 
    </section>
{% endblock %}